/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px; /* Increased overall font size for better accessibility */
    color: #000; /* Set font color to black */
}

header {
    background-color: rgba(60, 0, 120, 0.5); /* Darker shade of purple */
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000; /* Set link color to black */
    text-decoration: none;
}

footer {
    background-color: rgba(110, 0, 220, 0.5); /* Darker shade of purple */
    color: #000; /* Set font color to black */
    padding: 20px;
    text-align: center;
}

/* Specific Styles */
.content {
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 45px 90px; /* Adjusted padding to make the button about half the size */
    background-color: #6c757d; /* Changed background color to gray */
    color: #000; /* Set font color to black */
    text-decoration: none;
    border-radius: 5px;
    font-size: 36px; /* Increased font size for larger text */
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .btn {
        padding: 15px 30px;
        font-size: 18px;
    }
}